
 <style type='text/css'>
        .bigChip{
            width:40vw;
            height: 8vh;
            font-size: 5vw;
            padding:2%;


        }
        .main{
            background: rgba(255,255,255,1);
        }

    </style>

        <div class='container center panel main'>
            <div class='col m8 s12 red card-panel'>
                <div class='col s12 '>
                  <h3 class='chip col m12 s12 white hovarable black-text card flow-text'> Skills House</h3>
                  <h5 class='center-align  white-text'>{{welcomeText}}</h5>
                </div>
            </div>


            <div class='row '>

                    <div class='col s12 m3 valign'>
                        <div class='card'>
                            <div class='card-image'>
                                <img src='../images/slider1.jpg'>
                            </div>
                            <div class='card-content'>
                                <p> {{bussinessBenefits}} </p>
                            </div>
                            <div class='card-action'>
                                <a href='#/register' class='btn red darken-1 white-text'>  Register </a>
                            </div>
                        </div>
                    </div>


                    <div class='col s12 m3 valign'>
                        <div class='card'>
                            <div class='card-image'>
                                <img src='../images/slider4.jpg'>
                            </div>
                            <div class='card-content'>
                                <p> {{locateStudios}}  </p>
                            </div>
                            <div class='card-action'>
                                <a href='#/find' class='btn red darken-1 white-text'>  Find </a>
                            </div>
                        </div>
                    </div>

                    <div class='col s12 m3 valign'>
                        <div class='card'>
                            <div class='card-image'>
                                <img src='../images/slider2.jpg'>
                            </div>
                            <div class='card-content'>
                                <p> {{becomeArtistText}}  </p>
                            </div>
                            <div class='card-action'>
                                <a href='#/signup' class='btn red darken-1 white-text'>  Signup </a>
                            </div>
                        </div>
                    </div>

                    <div class='col s12 m3 valign'>
                        <div class='card'>
                            <div class='card-image'>
                                <img src='../images/jonza.jpg'>
                            </div>
                            <div class='card-content'>
                                <p> {{returningArtistText}}  </p>
                            </div>
                            <div class='card-action'>
                                <a href='#/login' class='btn red darken-1 white-text'>  login </a>
                            </div>
                        </div>
                    </div>

            </div>






